*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

.wrapper{
    margin:20px;
}



.header-table
    {
        display:flex;
        justify-content: space-between;
        margin:15px;
    }


.table .data-prestito
    {
        display:none;
    }

@media screen and (min-width: 768px) {
   .table .data-prestito
    {
        display:table-cell;
    } 

    }
    
@media screen and (min-width: 992px) {
    .wrapper
        {
            display:flex;
           gap:20px;
        }
    
    .
    }

